<?xml version="1.0" encoding="UTF-8"?>
<!-- Logback config -->
<configuration>
    <property scope="local" name="LOG_HOME" value="${logging.file.path}/shoulder"/>
    <property scope="local" name="LOG_LEVEL" value="${logging.level.org.shoulder}"/>
    <property scope="local" name="LOG_ENCODE" value="${file.encoding}"/>
    <!--自定义日志留存天数-->
    <property scope="local" name="LOG_MAX_DAYS" value="${logging.max-history:30}"/>
    <!--自定义单个文件大小，超过生成新的文件-->
    <property name="LOG_MAX_FILE_SIZE" value="${logging.max-size:512MB}"/>
    <!--自定义日志总体的大小，超过将删除最旧的日志存档-->
    <property name="LOG_TOTAL_SIZE_CAP" value="${logging.total-size-cap:5GB}"/>
    <property scope="local" name="SHOULDER_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:%d %-5p [%C{0}#%L] [%t] %m%n}"/>

    <!--  logback appenders -->
    <appender name="SHOULDER-CRYPTO-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${LOG_LEVEL}</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_HOME}/crypto-default.log</file>
        <!-- 每天生成一个日志文件，保存30天的日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名:按天回滚 daily -->
            <FileNamePattern>${LOG_HOME}/crypto-default.log.%d{yyyy-MM-dd}.%i</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>${LOG_MAX_DAYS}</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${SHOULDER_LOG_PATTERN}</pattern>
            <!-- 编码 -->
            <charset>${LOG_ENCODE}</charset>
        </encoder>
    </appender>

    <appender name="SHOULDER-CRYPTO-ERROR-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <!-- 过滤器，只记录 error 级别的日志 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <!-- 日志名称 -->
        <file>${LOG_HOME}/crypto-error.log</file>
        <!-- 每天生成一个日志文件，保存30天的日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名:按天回滚 daily -->
            <FileNamePattern>${LOG_HOME}/crypto-error.log.%d{yyyy-MM-dd}.%i</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>${LOG_MAX_DAYS}</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 日期、级别、类名#行号、线程、日志内容、换行符 -->
            <pattern>${SHOULDER_LOG_PATTERN}</pattern>
            <!-- 编码 -->
            <charset>${LOG_ENCODE}</charset>
        </encoder>
    </appender>
    <!--  logback loggers -->

    <logger name="SHOULDER-CRYPTO" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="SHOULDER-CRYPTO-APPENDER"/>
        <appender-ref ref="SHOULDER-CRYPTO-ERROR-APPENDER"/>
    </logger>
    <logger name="SHOULDER-CRYPTO-ERROR" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="SHOULDER-CRYPTO-ERROR-APPENDER"/>
    </logger>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="SHOULDER-CRYPTO-APPENDER"/>
        <appender-ref ref="SHOULDER-CRYPTO-ERROR-APPENDER"/>
    </root>

</configuration>