<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary Enums</title>
    <!-- 引入 Bootstrap CSS -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入 jQuery -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- 自定义样式及脚本 -->
    <style>
        /* 添加您的自定义样式 */
    </style>
    <script>
        $(document).ready(function () {
            function queryAllDictionary() {
                $.ajax({
                    url: host + '/api/v1/dictionary/allTypes',
                    method: 'GET',
                    success: function (response) {
                        if (response.code == '0') {
                            response.data.list.forEach(function (dictionaryType) {
                                querySingleDictionaryItems(dictionaryType);
                            });
                        } else {
                            alert('allTypes 查询失败：' + response.message);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('allTypes 请求失败：' + textStatus + ' - ' + errorThrown);
                    }
                });
            }

            // 查询单个字典项的函数
            function querySingleDictionaryItems(dictionaryType) {
                $.ajax({
                    url: host + '/api/v1/dictionary/item/listByType/' + dictionaryType,
                    method: 'GET',
                    success: function (response) {
                        if (response.code == '0') {
                            displayDictionaryItems(dictionaryType, response.data.list);
                        } else {
                            alert('listByType 查询失败：' + response.message);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('listByType 请求失败：' + textStatus + ' - ' + errorThrown);
                    }
                });
            }

            // 展示字典项到页面上的函数
            function displayDictionaryItems(dictionaryName, items) {
                // 在这里根据items渲染DOM元素
                var container = $('#dictionary-items-container');
                // container.empty();

                var firstRow_dicName = $('<div class="col-md-3 my-4 text-primary">').text(dictionaryName);
                container.append(firstRow_dicName);

                var row = $('<div class="row my-2 border-bottom">');
                container.append(row);
                var title_code = $('<div class="col-md-4 text-info">').text('【CODE】');
                var title_name = $('<div class="col-md-4 text-info">').text('【NAME】');
                var title_op = $('<div class="col-md-3 text-end">');

                row.append(title_code, title_name, title_op);
                for (var i = 0; i < items.length; i++) {
                    var item = items[i];
                    var codeCol = $('<div class="col-md-4 text-muted">').text(item.code);
                    var nameCol = $('<div class="col-md-4">').text(item.displayName);
                    var operationCol = $('<div class="col-md-3 text-end">');

                    // 如果有编辑功能，添加编辑按钮

                    // var editButton = $('<button class="btn btn-sm btn-primary me-1" data-item-id="' + item.code + '">编辑</button>');
                    // editButton.click(function () {
                    //     // 编辑字典项的逻辑，这里仅做示例
                    //     alert('编辑按钮被点击，ID: ' + $(this).data('item-id'));
                    // });
                    // operationCol.append(editButton);

                    row.append(codeCol, nameCol, operationCol);
                }
            }


            // 示例：查询单个字典项类型
            queryAllDictionary();
            //querySingleDictionaryItems('AttitudeRelatedTypeEnum');

        });
        var host='CONFIG_PAGE_HOST';
    </script>
</head> <body>
<!-- 页面主体部分 -->
<div class="container"> <div id="dictionary-items-container"></div> <div id="dictionary-list-container"></div> </div>
<!-- 引入 Bootstrap JS -->
<script src="https://cdn.bootcdn.net/ajax/libs/popper.js/2.11.8/cjs/popper.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body> </html>
