<?xml version="1.0" encoding="UTF-8"?>

<!-- 扩展参考：https://docs.spring.io/spring-boot/docs/2.3.x/reference/html/spring-boot-features.html#boot-features-custom-log-configuration -->

<!--scan="true", 是否支持动态调整打印级别-->
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <!--从 Spring Environment 中获取应用标识 -->
    <springProperty scope="context" name="appId" source="shoulder.application.id"/>

    <!-- 日志默认输出路径 -->
    <property name="LOG_HOME" value="/opt/logs/${appId}/" />

    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%sclear(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %sclear(%-5p) %cyan([${PID:-}]){magenta} %cyan(---){faint} %sclear([%15.15t]){faint} %cyan(%-40.40logger{39} :){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />

    <!-- 开发者本地 debug 运行时激活的配置 -->
    <springProfile name="!prod,!test">
        <!-- 彩色日志依赖的渲染类 -->
        <conversionRule conversionWord="sclear" converterClass="org.shoulder.core.log.logback.pattern.color.ShoulderClearCompositeConverter" />
        <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
        <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
        <conversionRule conversionWord="wEx"
                        converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
        <!-- 控制台Appender -->
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <!-- 考虑到有的系统可能对日志进行扫描与检测，故仅对开发态进行彩色渲染，开发者可通过修改 logging.pattern.console 覆盖默认设置
            IDEA 中推荐使用控制台颜色过滤插件，实现更高的定制化，更高级的使用参见 http://logback.qos.ch/manual/layouts.html#conversionWord -->
            <encoder class="org.shoulder.core.log.logback.encoder.ShoulderPatternLayoutEncoder">
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <!-- 对第三方框架日志打印频率特别高的部分进行限制 -->
        <logger name="org.apache.zookeeper.ClientCnxn" level="ERROR" />
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="org.springframework.boot" level="WARN" />
        <logger name="org.springframework.boot.web.filter" level="ERROR" />

        <!-- shoulder 框架中日志的默认输出级别 WARN additivity="false" 可以修改日志文件 -->
        <logger name="org.shoulder" level="WARN" />
        <!-- shoulder 框架配置模块日志的打印级别为 INFO -->
        <logger name="org.shoulder.autoconfigure" level="INFO" />

        <root level="DEBUG">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <!-- 测试、生产环境配置-->
    <springProfile name="prod,test">
        <!-- 操作日志 -->
        <appender name="OP_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${LOG_HOME}/${appId}.op.log</File>
            <!-- 保留最近十个文件的日志 -->
            <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <FileNamePattern>${LOG_HOME}/${appId}.op.log.%i.zip</FileNamePattern>
                <MinIndex>1</MinIndex>
                <!--最多十个文件 -->
                <MaxIndex>10</MaxIndex>
            </rollingPolicy>
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <MaxFileSize>10MB</MaxFileSize>
            </triggeringPolicy>
            <encoder class="org.shoulder.core.log.logback.encoder.ShoulderPatternLayoutEncoder">
                <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} - %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <logger name="OPERATION_LOGGER" level="INFO" additivity="false">
            <appender-ref ref="OP_APPENDER" />
        </logger>

        <!-- 操作日志 结束 -->

        <!-- 系统运行日志文件打印配置     开始 -->
        <!--
        增加自定义模块日志打印时配置推荐：
            appender名称格式为：FILE-debug-模块名
            推荐文件名格式：${appId}.模块名.debug.log
            注意：日志打印文件越多, 越影响磁盘I/O效率, 可能会造成程度卡顿
        -->
        <!-- TRACE及以上级别打印在 *.debug.log中 -->
        <appender name="FILE-debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>TRACE</level>
            </filter>
            <File>${LOG_HOME}/${appId}.debug.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <FileNamePattern>${LOG_HOME}/${appId}.debug.log.%i.zip
                </FileNamePattern>
                <MinIndex>1</MinIndex>
                <MaxIndex>10</MaxIndex>
            </rollingPolicy>
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <!-- debug文件大小达到 100M 后再压缩 -->
                <MaxFileSize>100MB</MaxFileSize>
            </triggeringPolicy>
            <encoder class="org.shoulder.core.log.logback.encoder.ShoulderPatternLayoutEncoder">
                <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %level ${appId} [%thread] [%logger{50}:%line] %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <!-- 错误日志输出配置, error及以上日志额外打印到 *.error.log 专门记录错误日志 -->
        <appender name="FILE-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
            <File>${LOG_HOME}/${appId}.error.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <FileNamePattern>${LOG_HOME}/${appId}.error.log.%i.zip
                </FileNamePattern>
                <MinIndex>1</MinIndex>
                <MaxIndex>10</MaxIndex>
            </rollingPolicy>
            <triggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <MaxFileSize>20MB</MaxFileSize>
            </triggeringPolicy>
            <encoder class="org.shoulder.core.log.logback.encoder.ShoulderPatternLayoutEncoder">
                <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %level ${appId} [%thread] [%logger{50}:%line] %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <!-- 第三方框架类代码日志打印, 输出到 OTHER 文件中, 默认 WARN 以上 （这类日志无法统一解析） -->
        <appender name="OTHER" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>WARN</level>
            </filter>
            <File>${LOG_HOME}/${appId}.other.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <FileNamePattern>${LOG_HOME}/${appId}.other.log.%i.zip</FileNamePattern>
                <MinIndex>1</MinIndex>
                <!--最多十个文件 -->
                <MaxIndex>10</MaxIndex>
            </rollingPolicy>
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <MaxFileSize>20MB</MaxFileSize>
            </triggeringPolicy>
            <encoder class="org.shoulder.core.log.logback.encoder.ShoulderPatternLayoutEncoder">
                <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %level ${appId} [%thread] [%logger{50}:%line] - %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <!-- 对第三方框架日志打印频率特别高的部分进行限制 -->
        <logger name="org.apache.zookeeper.ClientCnxn" level="ERROR" />
        <logger name="org.springframework.boot" level="WARN" />
        <logger name="org.springframework.boot.web.filter" level="ERROR" />

        <!-- shoulder 框架中日志的默认输出级别 WARN additivity="false" 可以修改日志文件 -->
        <logger name="org.shoulder" level="WARN" />
        <!-- shoulder 框架配置模块日志的打印级别为 INFO -->
        <logger name="org.shoulder.autoconfigure" level="INFO" />

        <!-- 默认为 WARN -->
        <root level="WARN">
            <appender-ref ref="OTHER" />
        </root>

    </springProfile>

</configuration>
