<?xml version="1.0" encoding="UTF-8"?>
<!-- Logback config -->
<configuration>
    <property scope="local" name="LOG_HOME" value="${logging.path}/serialize"/>
    <property scope="local" name="LOG_LEVEL" value="${shoulder.log.level}"/>
    <property scope="local" name="LOG_ENCODE" value="${shoulder.application.charset}"/>

    <!-- appenders -->
    <appender name="JDKSerializeAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filters>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>DENY</onMatch>
            </filter>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>${LOG_LEVEL}</level>
                <onMatch>ACCEPT</onMatch>
            </filter>
        </filters>
        <file>${LOG_HOME}/jdk.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/jdk.log.%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %-5p [%C{0}#%L] [%t] %m%n</pattern>
            <charset>${LOG_ENCODE}</charset>
        </encoder>
    </appender>

    <!-- loggers -->
    <logger name="JDKSerializeLog" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="JDKSerializeAppender"/>
    </logger>

</configuration>
<configuration>
    <!--  logback appenders -->

    <!-- 按照每天生成日志文件 -->
    <appender name="ERROR-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <!-- 过滤器，只记录 error 级别的日志 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <!-- 日志名称 -->
        <file>${logging.path}/shoulder/common-error.log</file>
        <!-- 每天生成一个日志文件，保存30天的日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名:按天回滚 daily -->
            <FileNamePattern>${logging.path}/shoulder/common-error.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %-5p %-32t - %m%n</pattern>
            <!-- 编码 -->
            <charset>${file.encoding}</charset>
        </encoder>
    </appender>

    <appender name="ROOT-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.level.com.alipay.sofa.rpc}</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${logging.path}/shoulder/common-default.log</file>
        <!-- 每天生成一个日志文件，保存30天的日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名:按天回滚 daily -->
            <FileNamePattern>${logging.path}/shoulder/common-default.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %-5p %-32t - %m%n</pattern>
            <!-- 编码 -->
            <charset>${file.encoding}</charset>
        </encoder>
    </appender>

    <appender name="TR-SERIALIZE-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.level.com.alipay.sofa.rpc}</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${logging.path}/shoulder/taobao-remoting-serialization.log</file>
        <!-- 每天生成一个日志文件，保存30天的日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名:按天回滚 daily -->
            <FileNamePattern>${logging.path}/shoulder/taobao-remoting-serialization.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %-5p %-32t - %m%n</pattern>
            <!-- 编码 -->
            <charset>${file.encoding}</charset>
        </encoder>
    </appender>

    <appender name="REGISTRY-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.level.com.alipay.sofa.rpc}</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${logging.path}/shoulder/sofa-registry.log</file>
        <!-- 每天生成一个日志文件，保存30天的日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名:按天回滚 daily -->
            <FileNamePattern>${logging.path}/shoulder/sofa-registry.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %-5p %-32t %c - %m%n</pattern>
            <!-- 编码 -->
            <charset>${file.encoding}</charset>
        </encoder>
    </appender>

    <appender name="SOFA-ROUTER-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.level.com.alipay.sofa.rpc}</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${logging.path}/shoulder/sofa-router.log</file>
        <!-- 每天生成一个日志文件，保存30天的日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名:按天回滚 daily -->
            <FileNamePattern>${logging.path}/shoulder/sofa-router.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %-5p %-32t %c - %m%n</pattern>
            <!-- 编码 -->
            <charset>${file.encoding}</charset>
        </encoder>
    </appender>

    <appender name="SOFA-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.level.com.alipay.sofa.rpc}</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${logging.path}/shoulder/sofa-default.log</file>
        <!-- 每天生成一个日志文件，保存30天的日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名:按天回滚 daily -->
            <FileNamePattern>${logging.path}/shoulder/sofa-default.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %-5p %-32t %c - %m%n</pattern>
            <!-- 编码 -->
            <charset>${file.encoding}</charset>
        </encoder>
    </appender>

    <appender name="TAOBAO-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.level.com.alipay.sofa.rpc}</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${logging.path}/shoulder/taobao-default.log</file>
        <!-- 每天生成一个日志文件，保存30天的日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名:按天回滚 daily -->
            <FileNamePattern>${logging.path}/shoulder/taobao-default.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %-5p %-32t %c - %m%n</pattern>
            <!-- 编码 -->
            <charset>${file.encoding}</charset>
        </encoder>
    </appender>

    <appender name="TR-CONNECTION-DIGEST-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.level.com.alipay.sofa.rpc}</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${logging.path}/shoulder/tr-connection-digest.log</file>
        <!-- 每天生成一个日志文件，保存30天的日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名:按天回滚 daily -->
            <FileNamePattern>${logging.path}/shoulder/tr-connection-digest.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %-5p %-32t - %m%n</pattern>
            <!-- 编码 -->
            <charset>${file.encoding}</charset>
        </encoder>
    </appender>

    <appender name="TR-LOG-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.level.com.alipay.sofa.rpc}</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${logging.path}/shoulder/taobao-remoting.log</file>
        <!-- 每天生成一个日志文件，保存30天的日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名:按天回滚 daily -->
            <FileNamePattern>${logging.path}/shoulder/taobao-remoting.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%n%d %-5p %c{2} - %n%m%n</pattern>
            <!-- 编码 -->
            <charset>${file.encoding}</charset>
        </encoder>
    </appender>

    <appender name="REGULATION-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>${logging.level.com.alipay.sofa.rpc}</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${logging.path}/shoulder/rpc-regulation.log</file>
        <!-- 每天生成一个日志文件，保存30天的日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名:按天回滚 daily -->
            <FileNamePattern>${logging.path}/shoulder/rpc-regulation.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %-5p %-32t %c{2} - %m%n</pattern>
            <!-- 编码 -->
            <charset>${file.encoding}</charset>
        </encoder>
    </appender>

    <appender name="RPC-CUSTOM-THREAD-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>${logging.level.com.alipay.sofa.rpc}</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${logging.path}/shoulder/rpc-custom-threadpool.log</file>
        <!-- 每天生成一个日志文件，保存30天的日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名:按天回滚 daily -->
            <FileNamePattern>${logging.path}/shoulder/rpc-regulation.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %-5p %-32t %c{2} - %m%n</pattern>
            <!-- 编码 -->
            <charset>${file.encoding}</charset>
        </encoder>
    </appender>

    <appender name="RPC-RESOURCE-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>${logging.level.com.alipay.sofa.rpc}</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${logging.path}/shoulder/rpc-resource.log</file>
        <!-- 每天生成一个日志文件，保存30天的日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名:按天回滚 daily -->
            <FileNamePattern>${logging.path}/shoulder/rpc-resource.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %-5p %-32t %c{2} - %m%n</pattern>
            <!-- 编码 -->
            <charset>${file.encoding}</charset>
        </encoder>
    </appender>


    <appender name="RPC-SHM-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>${logging.level.com.alipay.sofa.rpc}</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${logging.path}/shoulder/rpc-shm-common.log</file>
        <!-- 每天生成一个日志文件，保存30天的日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名:按天回滚 daily -->
            <FileNamePattern>${logging.path}/shoulder/rpc-shm-common.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %-5p %-32t %c{2} - %m%n</pattern>
            <!-- 编码 -->
            <charset>${file.encoding}</charset>
        </encoder>
    </appender>


    <appender name="RPC-SHM-ERROR-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${logging.path}/shoulder/rpc-shm-error.log</file>
        <!-- 每天生成一个日志文件，保存30天的日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名:按天回滚 daily -->
            <FileNamePattern>${logging.path}/shoulder/rpc-shm-error.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %-5p %-32t %c{2} - %m%n</pattern>
            <!-- 编码 -->
            <charset>${file.encoding}</charset>
        </encoder>
    </appender>
    <appender name="RPC-PROFILER-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>${logging.level.com.alipay.sofa.rpc}</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${logging.path}/shoulder/rpc-profiler.log</file>
        <!-- 每天生成一个日志文件，保存30天的日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名:按天回滚 daily -->
            <FileNamePattern>${logging.path}/shoulder/rpc-shm-common.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %-5p %-32t %c{2} - %m%n</pattern>
            <!-- 编码 -->
            <charset>${file.encoding}</charset>
        </encoder>
    </appender>


    <!--  logback loggers -->

    <logger name="RPC-PROFILER" level="${logging.level.com.alipay.sofa.rpc}" additivity="false">
        <appender-ref ref="RPC-PROFILER-APPENDER"/>
    </logger>

    <logger name="RPC-SHM" level="${logging.level.com.alipay.sofa.rpc}" additivity="false">
        <appender-ref ref="RPC-SHM-APPENDER"/>
        <appender-ref ref="RPC-SHM-ERROR-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>

    <logger name="TR-CONNECTION-POOL-DIGEST" level="${logging.level.com.alipay.sofa.rpc}" additivity="false">
        <appender-ref ref="TR-CONNECTION-DIGEST-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>

    <logger name="RPC-REGISTRY" level="${logging.level.com.alipay.sofa.rpc}" additivity="false">
        <appender-ref ref="REGISTRY-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>


    <logger name="SOFA-ROUTER" level="${logging.level.com.alipay.sofa.rpc}" additivity="false">
        <appender-ref ref="SOFA-ROUTER-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>

    <logger name="com.alipay.sofa.rpc.remoting.tr.codec" level="${logging.level.com.alipay.sofa.rpc}"
            additivity="false">
        <appender-ref ref="TR-SERIALIZE-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>

    <logger name="com.taobao.remoting" level="${logging.level.com.alipay.sofa.rpc}" additivity="false">
        <appender-ref ref="TR-LOG-FILE"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>

    <logger name="com.alipay.sofa" level="${logging.level.com.alipay.sofa.rpc}" additivity="false">
        <appender-ref ref="SOFA-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>

    <logger name="com.taobao" level="${logging.level.com.alipay.sofa.rpc}" additivity="false">
        <appender-ref ref="TAOBAO-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>

    <logger name="com.alipay.sofa.rpc.fault.tolerance" level="${logging.level.com.alipay.sofa.rpc}" additivity="false">
        <appender-ref ref="REGULATION-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>

    <logger name="RPC-CUSTOM-THREAD" level="${logging.level.com.alipay.sofa.rpc}" additivity="false">
        <appender-ref ref="RPC-CUSTOM-THREAD-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>

    <logger name="RPC-RESOURCE" level="${logging.level.com.alipay.sofa.rpc}" additivity="false">
        <appender-ref ref="RPC-RESOURCE-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>


    <root level="${logging.level.com.alipay.sofa.rpc}">
        <appender-ref ref="ROOT-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </root>

</configuration>
